{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="col-lg-12">
        <button class="col-lg-4 btn btn-lg btn-default" id="markdown">{% trans "Markdown" %}</button>
        <button class="col-lg-4 btn btn-lg btn-default" id="restructuredtext">{% trans "ReStructuredText" %}</button>
        <button class="col-lg-4 btn btn-lg btn-default" id="textile">{% trans "Textile" %}</button>
    </div>
    <div class="col-lg-6">
        <label for="markwhat_textarea">{% trans "Markwhat" %}</label>
        <textarea class="form-control" style="width: 100%;"  name="markwhat" id="markwhat_textarea" rows="23"></textarea>
    </div>
    <div class="col-lg-6">
        <label for="markup_textarea">{% trans "Markup" %}</label>
        <textarea readonly class="form-control" style="width: 100%;" name="markup" id="markup_textarea" rows="23"></textarea>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function(e){

            var markwhat;

            function setMarkwhat(markwhat_name) {
                markwhat = markwhat_name;
            }

            function getMarkwhat() {
                return markwhat;
            }

            function parseMarkwhat() {
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "{% url 'mark_it_what' %}",
                    data: JSON.stringify({"parser": getMarkwhat(), "what": $('#markwhat_textarea').val()}),
                    success: function(data) {
                        $("#markup_textarea").text(data.text);
                    },
                    dataType: "json"
                });
            }

            $("button").click(function(){
                $("button.btn-primary").each(function(){
                    $(this).removeClass("btn-primary");
                    $(this).addClass("btn-default");
                });
                $(this).removeClass("btn-default");
                $(this).addClass("btn-primary");

                setMarkwhat($(this).attr("id"));
                parseMarkwhat();
            });

            $("#markdown").click();

            $("#markwhat_textarea").focus();
            $('#markwhat_textarea').keypress(function(){
                parseMarkwhat();
            });

        });
    </script>
{% endblock %}
